<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dilkursu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.other.MessageActivity" />
        <activity android:name=".views.other.CourseInfoActivity" />
        <activity android:name=".views.other.LessonInfoActivity" />
        <activity android:name=".views.admin.adding.AddCourseActivity" />
        <activity android:name=".views.admin.adding.AddKurActivity" />
        <activity android:name=".views.admin.AdminDeletingActivity" />
        <activity android:name=".views.admin.AdminAddingActivity" />
        <activity android:name=".views.admin.AdminViewingActivity" />
        <activity android:name=".views.registrar.SellActivity" />
        <activity android:name=".views.admin.adding.AddLesson2Activity" />
        <activity android:name=".views.other.PaymentInfoActivity" />
        <activity android:name=".views.teacher.TeacherTimeTableActivity" />
        <activity android:name=".views.admin.adding.AddLessonActivity" />
        <activity android:name=".views.admin.adding.AddClassroomActivity" />
        <activity android:name=".views.admin.adding.AddBranchActivity" />
        <activity android:name=".views.other.ClassroomInfoActivity" />
        <activity android:name=".views.student.BranchInfoActivity" />
        <activity android:name=".views.other.BranchListActivity" />
        <activity android:name=".views.student.StudentSearchActivity" />
        <activity android:name=".views.registrar.StudentRegistrationActivity" />
        <activity android:name=".views.student.StudentInfoActivity" />
        <activity android:name=".views.teacher.TeacherInfoActivity" />
        <activity android:name=".views.registrar.RegistrarActivity" />
        <activity android:name=".views.admin.AdminActivity" />
        <activity android:name=".views.teacher.TeacherActivity" />
        <activity android:name=".views.student.StudentActivity" />
        <activity android:name=".views.student.ClassesActivity" />
        <activity android:name=".views.registrar.ClassesActivity" />
        <activity android:name=".views.registrar.StudentInfoActivity" />
        <activity android:name=".views.registrar.BranchInfoActivity" />
        <activity android:name=".views.other.SignInActivity" />
        <activity android:name=".views.other.PayActivity" />
        <activity android:name=".views.other.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>